<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>

  <!-- All the stylesheets to be used -->
  <link rel="stylesheet" href="/stylesheets/global.css" />
  <link rel="stylesheet" href="/stylesheets/editor.css" />
</head>

<body>
  <!-- The actual layout -->
  <div class="app-panel">
    <div class="project-panel">
      <div class="horizontal-resize-handle"></div>
    </div>
    <div class="editor-panel"></div>
  </div>

  <!-- All Javascripts to be used within the editor -->
  <script type="text/javascript" src="/socket.io/socket.io.js"></script>
  <script type="text/javascript" src="built/editor-entry.js"></script>
</body>

</html>
