div.app-panel {
  background-color: gold;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  display: flex;
  flex-direction: row;
}

div.project-panel {
  width: 300px;
  height: 100%;
  flex: 0 1 auto;
  background-color: black;
  position: relative;
  overflow-y: auto;
}

div.editor-panel {
  background-color: rgb(16, 16, 16);
  height: 100%;
  flex: 1 1 0px;
  overflow-y: auto;
}

div.horizontal-resize-handle {
  position: absolute;
  background-color: red;
  top: 0px;
  bottom: 0px;
  right: 0px;
  width: 4px;
}

div.workspace-editor-line {
  margin: 0px;
  padding: 0px;
  white-space: pre;
}

div.workspace-name {}

div.workspace-name:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

div.workspace-file-name {
  border-left-color: rgb(0, 128, 255);
  padding-left: 2px;
  border-left-style: solid;
  border-left-width: 2px;
}

div.workspace-file-name:hover {
  cursor: pointer;
}

div.workspace-directory-items {
  padding-left: 1em;
  margin-left: 0em;
  border-left-style: dotted;
  border-width: 1px;
  border-color: rgb(255, 128, 0);
}

div.workspace-directory-name {
  font-weight: bolder;
  border-left-color: rgb(255, 128, 0);
  padding-left: 2px;
  border-left-style: solid;
  border-left-width: 2px;
}

div.command-panel {
  position: absolute;
  right: 0px;
  top: 0px;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 1em;
}
